/* CONTACT SECTION */
.contact {
  height: 160vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.contact-content {
  max-width: 600px;
  background: transparent;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  transition: background 0.5, transform 0.5s;
  box-shadow: 1px 1px 20px #012290f7, 1px 1px 20px #0053b8f7;
}

.contact-content h2 {
  font-size: 40px;
  margin-bottom: 20px;
}
.contact-content h3 {
  margin-bottom: 40px;
  font-size: 22px;
}

.contact-content h2 span {
  color: #0ef;
}

.contact-content p {
  font-size: 18px;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background: #f0f0f0;
}

.form-group textarea {
  resize: vertical;
}

.btn-box {
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
  transition: box-shadow 0.3s;
}

.btn-box:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 100px cyan, 0 0 200px cyan;
}

.contact-content ul li {
  padding-bottom: 20px;
  justify-content: start;
  list-style: none;
}
.contact-content {
  margin-bottom: 20px;
}

.home-soc-icon {
  margin: 30px 0;
}

.home-soc-icons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 12px;
  color: #0ef;
  text-decoration: none;
  margin: 9px;
  transition: 0.5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
  margin-top: 0px;
  margin-bottom: 50px;
}
.home-soc-icons a:hover {
  background: #0ef;
  color: #081b29;
  box-shadow: 0 0 20px #0ef;
}
